@font-face {
	font-family: Comfortaa;
	font-display: swap;
	src: url(../fonts/Comfortaa-Bold.woff) format("woff"), url(../fonts/Comfortaa-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: Comfortaa;
	font-display: swap;
	src: url(../fonts/Comfortaa-Light.woff) format("woff"), url(../fonts/Comfortaa-Light.woff2) format("woff2");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: Comfortaa;
	font-display: swap;
	src: url(../fonts/Comfortaa-Medium.woff) format("woff"), url(../fonts/Comfortaa-Medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: Comfortaa;
	font-display: swap;
	src: url(../fonts/Comfortaa-Regular.woff) format("woff"), url(../fonts/Comfortaa-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Comfortaa;
	font-display: swap;
	src: url(../fonts/Comfortaa-SemiBold.woff) format("woff"), url(../fonts/Comfortaa-SemiBold.woff2) format("woff2");
	font-weight: 600;
	font-style: normal
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	font-family: Comfortaa, Tahoma, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 19px;
	color: #000;
	background-color: #fff
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden
}

iframe {
	border: none
}

.site-navigation {
	position: relative;
	margin: 0;
	padding: 0;
	width: 310px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none;
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out
}

.site-navigation::before {
	content: "";
	position: absolute;
	top: -3px;
	display: block;
	width: 100vw;
	height: 3px;
	background-color: #fff;
	z-index: 1
}

.site-navigation__item {
	margin: 0 15px 10px
}

.site-navigation__link {
	position: relative;
	font-size: 10px;
	font-weight: 700;
	line-height: 11px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none
}

.site-navigation__link::after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	display: block;
	width: 0;
	height: 2px;
	background-color: #000;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.site-navigation__link:focus,
.site-navigation__link:hover {
	outline: 0
}

.site-navigation__link:focus::after,
.site-navigation__link:hover::after {
	width: 100%
}

.header {
	position: relative;
	height: 63px;
	background-color: #fff;
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out
}

.header::after {
	content: "";
	position: absolute;
	top: 61px;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background-color: #000
}

.header--blue {
	height: 121px;
	background-color: #025d8c
}

.header__navigation {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 15px;
	width: 340px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.header__link {
	margin: 0;
	margin-top: 15px;
	padding: 0;
	font-size: 12px;
	font-weight: 700;
	line-height: 13px;
	text-decoration: none;
	color: #000
}

.header__link--white {
	color: #fff
}

.header__menu-button {
	margin: 0;
	margin-top: 8px;
	margin-bottom: 15px;
	padding: 0;
	width: 20px;
	height: 12px;
	background: 0 0;
	background-image: url(../img/header-icon-closed.svg);
	background-position: 0;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer
}

.header__menu-button--opened {
	background-image: url(../img/header-icon-opened.svg)
}

.header__site-navigation {
	display: none
}

.header__site-navigation--opened {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.keyvisual-main {
	width: 100%
}

.keyvisual-main__container {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 15px;
	width: 340px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.keyvisual-main__heading {
	margin: 30px 0 0;
	padding: 0;
	font-weight: 700;
	font-size: 50px;
	line-height: 75px;
	color: #000
}

.keyvisual-main__profession {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
	padding: 0 2px;
	width: 230px;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	background-color: #000;
	white-space: nowrap;
	z-index: 0
}

.keyvisual-main__profession::before {
	content: "";
	position: absolute;
	top: -8px;
	left: 0;
	display: block;
	width: 230px;
	height: 40px;
	background-image: url(../img/rectangle.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
	z-index: -1
}

.keyvisual-main__offer-container {
	position: relative;
	text-align: center;
	padding-bottom: 70px;
	width: 310px
}

.keyvisual-main__offer {
	position: absolute;
	bottom: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 20px 33px;
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
	color: #fff;
	background-color: #fff;
	background: #025d8c;
	-webkit-box-shadow: 0 4px 20px #000;
	box-shadow: 0 4px 20px #000
}

.main-profile {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 15px;
	width: 340px;
	box-sizing: border-box;
	margin-top: 70px;
	padding: 0 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 310px
}

.main-profile__avatar {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 50px;
	height: 50px
}

.main-profile__avatar-image {
	border-radius: 50%
}

.main-profile__greeting {
	margin: 0;
	margin-left: 3px;
	padding: 0;
	font-weight: 700;
	font-size: 11px;
	line-height: 12px;
	color: #000
}

.main-stat {
	width: 100%;
	background-color: #fff
}

.main-stat__list {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 15px;
	width: 340px;
	margin-top: 5px;
	padding: 0;
	padding-bottom: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none
}

.main-stat__item {
	margin: 0;
	margin-right: 15px;
	margin-top: 10px;
	padding: 0;
	width: 75px;
	height: 33px
}

.main-stat__item:nth-child(4) {
	margin-left: 15px
}

.main-stat__count {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 12px;
	line-height: 10px;
	text-align: center;
	color: #000;
	background-color: #fff
}

.main-stat__topic {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 20px;
	font-weight: 700;
	font-size: 7px;
	line-height: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	background-color: #fff
}

.main-advantages {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 15px;
	width: 340px
}

.main-advantages__column {
	position: relative;
	margin: 0 auto 50px;
	padding: 0 0 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 310px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 25px #fff;
	box-shadow: 0 0 25px #fff;
	border-radius: 20px
}

.main-advantages__column::after {
	content: "";
	position: absolute;
	bottom: 40px;
	left: 130px;
	display: block;
	width: 50px;
	height: 50px;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, .7);
	box-shadow: 0 4px 20px rgba(0, 0, 0, .7)
}

.main-advantages__column--blue-square::after {
	background-color: #025d8c
}

.main-advantages__column--red-square::after {
	background-color: #ea0900
}

.main-advantages__column--yellow-square::after {
	background-color: #ffd130
}

.main-advantages__column-heading {
	margin: 16px 0 36px;
	padding: 0;
	font-size: 25px;
	font-weight: 700;
	line-height: 28px;
	color: #000;
	background-color: #fff
}

.main-advantages__list {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none
}

.main-advantages__item {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	color: #000;
	background-color: #fff
}

.skills-slider {
	position: absolute;
	top: 122px;
	margin: 0;
	padding: 0;
	min-width: 0;
	width: 275px;
	height: 275px;
	overflow: hidden;
	border-radius: 50%
}

.skills-slider__item {
	width: 124px;
	height: 224px;
	text-align: center
}

.skills-slider__item:focus,
.skills-slider__item:hover {
	outline: 0
}

.skills-slider__image {
	width: 124px;
	height: 124px
}

.skills-slider__heading {
	margin: 20px 0 0;
	padding: 0;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px
}

.skills-slider__stat {
	display: block;
	margin: 13px 0 0 10px;
	padding: 0;
	font-size: 40px;
	font-weight: 700;
	line-height: 45px
}

.slick-list {
	margin-top: 35px;
	overflow: hidden
}

.slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.slick-arrow {
	position: absolute;
	top: 65%;
	width: 16px;
	height: 31px;
	font-size: 0;
	background: 0 0;
	border: none;
	z-index: 10;
	cursor: pointer
}

.slick-prev {
	left: 50px;
	background-image: url(../img/slider-arrow-left.svg);
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat
}

.slick-next {
	right: 50px;
	background-image: url(../img/slider-arrow-right.svg);
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat
}

.round-progress {
	position: relative;
	margin: 0;
	padding: 0;
	width: 310px;
	height: 310px
}

.round-progress__ring {
	width: 100%;
	height: 100%;
	-webkit-filter: drop-shadow(5px 5px 5px #000);
	filter: drop-shadow(5px 5px 5px #000)
}

.round-progress__circle {
	-webkit-transition: stroke-dashoffset .3s;
	-o-transition: stroke-dashoffset .3s;
	transition: stroke-dashoffset .3s
}

.main-skills {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 15px;
	width: 340px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.main-skills__heading {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 6px 10px;
	width: 330px;
	min-height: 40px;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	color: #fff;
	background-image: url(../img/rectangle.svg);
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat
}

.main-skills__round-progress {
	margin-top: 65px
}

.main-page__paralax-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.main-page__paralax-container--keyvisual-icons {
	background-image: url(../img/keyvisual-bg.png);
	background-position: 0 0;
	background-repeat: repeat
}

.main-page__paralax-container--yellow-circuit {
	background-image: url(../img/cubes-top-mobile.svg), url(../img/cubes-bottom-mobile.svg), url(../img/yellow-bg-mobile.svg);
	background-position: center 110px, center 95%, center 0;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: auto, auto, 100% 90%
}

.main-page__paralax-container--slider-icons {
	background-image: url(../img/slider-bg.png);
	background-position: 200 0;
	background-repeat: repeat
}

.main-page__stat {
	margin: 58px 0 0;
	padding: 0
}

.main-page__advantages {
	margin: 70px 0 320px;
	padding: 0
}

.main-page__skills {
	margin: 0 0 100px
}

.footer {
	position: relative
}

.footer::before {
	content: "";
	position: absolute;
	top: 50px;
	display: block;
	width: 100%;
	height: 1px;
	background-color: #121212
}

.footer__container {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 15px;
	width: 340px
}

.footer__copyright {
	margin: 0 auto;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 230px
}

.footer__copyright-text {
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-weight: 700;
	line-height: 19px;
	text-transform: uppercase;
	text-align: center;
	color: #121212
}

.footer__sections {
	margin: 25px auto 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 170px
}

.footer__topic {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-weight: 700;
	line-height: 19px;
	text-transform: uppercase;
	color: #000
}

.footer__sections-list {
	margin: 25px 0 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none
}

.footer__sections-item {
	margin: 0 0 5px
}

.footer__sections-link {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-weight: 400;
	line-height: 19px;
	text-decoration: none;
	color: #000
}

.footer__sections-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 0;
	height: 1.5px;
	background-color: #000;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.footer__sections-link:focus,
.footer__sections-link:hover {
	outline: 0
}

.footer__sections-link:focus::after,
.footer__sections-link:hover::after {
	width: 100%
}

.footer__social {
	margin: 5px auto 0;
	padding: 0;
	width: 190px;
	min-height: 110px
}

.footer__social-list {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style: none
}

.footer__social-item {
	margin: 10px auto 0;
	padding: 0;
	width: 50px;
	height: 50px
}

.footer__social-link {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 100%
}

.footer__social-icon {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.footer__social-icon:focus,
.footer__social-icon:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}

.footer__authors {
	margin: 0;
	margin-top: 35px;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.footer__authors-list {
	margin: 0;
	margin-top: 25px;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none
}

.footer__authors-item {
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-weight: 400;
	line-height: 23px;
	text-align: center;
	color: #000
}

.footer__authors-link {
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-weight: 400;
	line-height: 23px;
	text-align: center;
	color: #000;
	text-decoration: none
}

.keyvisual-contacts {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 15px;
	width: 340px
}

.keyvisual-contacts__heading-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.keyvisual-contacts__text-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.keyvisual-contacts__heading {
	margin: 22px 0 0;
	padding: 0;
	font-size: 50px;
	font-weight: 700;
	line-height: 56px;
	color: #000
}

.keyvisual-contacts__image {
	margin: 10px 0 0;
	width: 310px
}

.keyvisual-contacts__paragraph {
	margin: 30px 0 0;
	padding: 0;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
	color: #000;
	text-align: center
}

.keyvisual-contacts__link {
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 30px 0 0;
	padding: 18px 75px;
	font-size: 25px;
	line-height: 28px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #fff;
	background-color: #025d8c;
	border-radius: 30px;
	-webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
	box-shadow: 0 4px 20px rgba(0, 0, 0, .25)
}

.contacts {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-image: url(../img/contacts-bg.png);
	background-position: 0 -100;
	background-repeat: repeat
}

.contacts__keyvisual {
	margin: 0;
	padding: 0
}

@media (min-width:750px) {
	.header__navigation {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 750px
	}
	.keyvisual-main__container {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 750px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}
	.keyvisual-main__heading {
		margin-top: 90px;
		margin-right: 25px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 365px;
		min-height: 210px;
		text-align: center
	}
	.keyvisual-main__offer-container {
		margin-top: 50px
	}
	.main-profile {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 750px
	}
	.main-profile__avatar {
		width: 150px;
		height: 150px
	}
	.main-profile__greeting {
		margin-left: 15px;
		font-size: 25px;
		line-height: 28px
	}
	.main-stat__list {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 750px;
		margin-top: 20px;
		padding-bottom: 10px
	}
	.main-stat__item {
		margin: 0;
		width: 144px;
		min-height: 70px
	}
	.main-stat__item:nth-child(4) {
		margin-left: 0
	}
	.main-stat__count {
		font-size: 25px;
		line-height: 28px
	}
	.main-stat__topic {
		min-height: 40px;
		font-size: 15px;
		line-height: 15px
	}
	.main-advantages {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 750px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
	.main-advantages__column {
		margin: 60px auto 0
	}
	.skills-slider {
		top: 180px;
		width: 420px;
		height: 420px
	}
	.skills-slider__item {
		width: 184px;
		height: 322px
	}
	.skills-slider__image {
		width: 184px;
		height: 184px
	}
	.skills-slider__heading {
		margin: 27px 0 0;
		font-size: 35px;
		line-height: 39px
	}
	.skills-slider__stat {
		margin: 27px 0 0 10px;
		font-size: 40px;
		line-height: 45px
	}
	.slick-arrow {
		top: 58%;
		width: 23px;
		height: 46px
	}
	.slick-prev {
		left: 70px
	}
	.slick-next {
		right: 70px
	}
	.round-progress {
		width: 460px;
		height: 460px
	}
	.main-skills {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 750px
	}
	.main-skills__heading {
		padding: 18px 96px 17px 96px;
		width: 460px;
		min-height: 80px;
		font-size: 40px;
		line-height: 45px
	}
	.main-skills__round-progress {
		margin-top: 80px
	}
	.main-page__paralax-container--yellow-circuit {
		background-image: url(../img/cubes-top-tablet.svg), url(../img/cubes-bottom-tablet.svg), url(../img/yellow-bg-tablet.svg);
		background-position: center 230px, center 100%, center 0;
		background-size: auto, auto, auto
	}
	.main-page__profile {
		margin-top: 70px
	}
	.main-page__stat {
		margin-top: 150px
	}
	.main-page__advantages {
		margin: 160px 0 500px
	}
	.main-page__skills {
		margin-bottom: 90px
	}
	.footer__container {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 750px
	}
	.keyvisual-contacts {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 750px
	}
	.keyvisual-contacts__heading {
		margin-top: 70px;
		font-size: 55px;
		line-height: 62px
	}
	.keyvisual-contacts__image {
		margin-top: 20px;
		width: 320px
	}
	.keyvisual-contacts__paragraph {
		margin-top: 40px;
		font-size: 25px;
		line-height: 28px
	}
	.keyvisual-contacts__link {
		margin-top: 40px
	}
}

@media (min-width:1200px) {
	.site-navigation {
		width: 870px;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
	.site-navigation::before {
		content: none
	}
	.site-navigation__item {
		margin: 0
	}
	.site-navigation__link {
		font-size: 15px;
		font-weight: 700;
		line-height: 17px;
		color: #000
	}
	.header {
		background-color: #fff
	}
	.header::after {
		content: "";
		position: absolute;
		bottom: -3px;
		display: block;
		width: 100%;
		height: 3px;
		background-color: #000
	}
	.header__navigation {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 1200px;
		min-height: 60px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row
	}
	.header__link {
		margin: 0;
		padding: 0;
		font-size: 25px;
		font-weight: 700;
		line-height: 28px;
		color: #121212
	}
	.header__menu-button {
		display: none
	}
	.header__site-navigation {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0;
		margin-left: 100px
	}
	.keyvisual-main__container {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 1200px
	}
	.keyvisual-main__heading {
		margin-top: 265px;
		margin-right: 70px;
		width: 470px;
		font-size: 70px;
		line-height: 75px;
		text-align: center;
		color: #000
	}
	.keyvisual-main__profession {
		width: 100%;
		font-size: 36px;
		line-height: 40px
	}
	.keyvisual-main__profession::before {
		top: -15px;
		width: 100%;
		height: 70px;
		background-size: 100% 100%
	}
	.keyvisual-main__offer-container {
		margin-top: 100px;
		width: 610px
	}
	.keyvisual-main__offer {
		font-size: 25px;
		line-height: 30px
	}
	.main-profile {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 1200px
	}
	.main-profile__avatar {
		width: 200px;
		height: 200px
	}
	.main-profile__greeting {
		margin-left: 70px;
		font-size: 40px;
		line-height: 45px
	}
	.main-stat__list {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 1200px;
		margin-top: 30px;
		padding-bottom: 25px;
		-ms-flex-pack: distribute;
		justify-content: space-around
	}
	.main-stat__item {
		margin: 0;
		width: 200px;
		min-height: 95px
	}
	.main-stat__count {
		font-size: 36px;
		line-height: 40px
	}
	.main-stat__topic {
		margin-top: 5px;
		min-height: 50px;
		font-size: 17px;
		line-height: 19px
	}
	.main-advantages {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 1200px
	}
	.skills-slider {
		width: 460px;
		height: 460px
	}
	.skills-slider__item {
		width: 200px;
		height: 350px
	}
	.skills-slider__image {
		width: 200px;
		height: 200px
	}
	.skills-slider__heading {
		margin: 28px 0 0;
		font-size: 40px;
		line-height: 45px
	}
	.skills-slider__stat {
		margin: 30px 0 0 10px;
		font-size: 40px;
		line-height: 45px
	}
	.slick-arrow {
		top: 57%;
		width: 25px;
		height: 50px
	}
	.slick-prev {
		left: 80px
	}
	.slick-next {
		right: 80px
	}
	.round-progress {
		width: 500px;
		height: 500px
	}
	.main-skills {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 1200px
	}
	.main-page__paralax-container--yellow-circuit {
		background-image: url(../img/cubes-top-desktop.svg), url(../img/cubes-bottom-desktop.svg), url(../img/yellow-bg-desktop.svg);
		background-position: center 430px, center 100%, center 0
	}
	.main-page__profile {
		margin-top: 130px
	}
	.main-page__stat {
		margin-top: 300px
	}
	.main-page__advantages {
		margin: 240px 0 605px
	}
	.main-page__skills {
		margin-bottom: 300px
	}
	.footer__container {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 1200px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 50px 1fr
	}
	.footer__copyright {
		margin: 0;
		grid-column: 2/3;
		grid-row: 1/2;
		width: 100%
	}
	.footer__sections {
		margin: 0;
		grid-column: 1/2;
		grid-row: 1/3;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start
	}
	.footer__sections-list {
		margin-top: 40px;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start
	}
	.footer__sections-item {
		margin-bottom: 10px
	}
	.footer__sections-link {
		text-align: left
	}
	.footer__social {
		grid-column: 2/3;
		grid-row: 2/3
	}
	.footer__authors {
		margin: 0;
		grid-column: 3/4;
		grid-row: 1/3;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end
	}
	.footer__authors-list {
		margin-top: 40px;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end
	}
	.footer__authors-item {
		text-align: right
	}
	.keyvisual-contacts {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;
		width: 1200px
	}
	.keyvisual-contacts__heading-wrapper {
		margin-top: 250px
	}
	.keyvisual-contacts__text-wrapper {
		margin-top: 330px
	}
	.keyvisual-contacts__heading {
		margin-top: 0;
		font-size: 72px;
		line-height: 81px
	}
	.keyvisual-contacts__image {
		margin-top: 0;
		width: 470px
	}
	.keyvisual-contacts__paragraph {
		text-align: right
	}
	.keyvisual-contacts__paragraph--desktop-small {
		font-size: 18px;
		line-height: 19px
	}
}

.webp .main-page__paralax-container--keyvisual-icons {
	background-image: url(../img/keyvisual-bg.webp)
}

.webp .main-page__paralax-container--slider-icons {
	background-image: url(../img/slider-bg.webp)
}

.webp .contacts {
	background-image: url(../img/contacts-bg.webp)
}